:root{
    --back:  rgb(18, 18, 18);
    --backCon: rgb(6, 6, 6);
}
iframe html body,body,.hdDmAe, [class^="HomeContent"]{
    background-color: var(--back) !important;
}
.fyuwSb{
    background-color: black !important;
}
h1,h2,h3,h4,h5,h6,span,p,[class^="EditorialPlacement__"],
.profile_identity-alternate_names, [data-lyrics-container="true"], *[class*='SongBioPreview'] a{
    color: white !important;
}
[class*="ChartItem"]:hover,
a[class*="PageGrid"]:hover,
.vertical_album_card:hover,
mini-song-card a[class='mini_card']:hover{
background: black !important;
}

iframe html body,a[class*="ChartItem"] div[class*="ChartItem"],
label[id^="request_custom"]{
color: white;
}
svg,  div[class^='ContributorSidebar__'] div[class^='ExpandableContent__ButtonContainer'] button[class^='Button__Container'] svg{
    fill: white !important;
}
[class*="PageHeader"] svg, [class^="global_search-submit_button"] svg,
a[class^='MetadataQuestionTemplate'] svg,
div[class^='ExpandableContent__ButtonContainer'] button[class^='Button__Container'] svg,
div[class^='MetadataStats'] span div svg,
a[href="#primary-album"] span[class^='InlineSvg'] svg,
div[class^="SongNav__UpArrow-sc"] span svg{
    fill: black !important;
}
div[class*='ContributorSidebarSection'] svg{
    fill: transparent !important;
}
div[class^="SquareSelect"],[class*="PageHeaderDropdownMenu-sc"],
textarea[class^='TextInput']{
    background-color: var(--back) !important;

}
.inbox_line_item_detail {
    background:var(--back) !important; 
    padding: 0 1rem 1rem;
    position: relative;
}
div[class^="SquareSelect"] a, 
[class*="PageHeaderDropdownMenu-sc"] a,
[class*="PageHeaderDropdownMenu-sc"] button,
div[class^="SquareSelect"] button,
button[class^='TextButton'],
span a[class^='StyledLink'],
div[class^='ContributorsCreditMetadata'],
div[class^='ContributorsCreditMetadata'] a,
div[class^='ContributorSidebar'] a[class^='StyledLink'],
a[class^='ContributorSidebar'],
div[class^='ContributorSidebarAlbum'] li[class^='AlbumTracklist'] div[class^='AlbumTracklist'],
div[class^='SongComments'],
textarea[class^='TextInput'],  *[class*='SongBioPreview'] a, a[href='#about']
{
        color: white !important;
    }
 .referent, [class*="feed_dropdown"],
 .feed_dropdown-expanded_section,
  .contribution_opportunity-content,
   .contribution_opportunity-actions,
   div[class*="TagInput__"], div[class*='ScrollableTabs__'] input,
   div[class*="css"] div[class*="TagInput__"] div[class*="css"],
   div[class*="SelectInput__"],
  div[class^=" css"][class$="-control"] div  div[class^=" css-"][class$="placeholder"],
    div[class^=" css"][class$="-control"] div  div[class^=" css-"][class$="singleValue"]
 {
    background: var(--backCon) !important;
    color: white !important;
 }
div[class^="SquareManySelect"],
div[class*="StickyContributorToolbar__Container-"]{
    background-color: var(--back);
    color: white;
}
div[class^="SquareButton"],
a[class^="SquareButton"], 
button[class^="square_button"], 
div[class^="square_button"],
 div[class*="StickyContributorToolbar__Container-"] button,
 button[class*='SmallButton'],
 button[class^='Button'],
 div[class^='ContributorSidebar__'] div[class^='ExpandableContent__ButtonContainer'] button[class^='Button__Container'],
   div[class*="css"] div[class*="TagInput__"] div[class*="css"],
   div[class*="TagInput__"],
   div[class*="SelectInput__"],
 button[class*="ScrollableTabs__TabButton"]
    {
      border-color: white;
    color: white;
}
div[class^='QuestionFormControl'] button[class^='Button__Container'],
div[class^='ExpandableContent__ButtonContainer'] button[class^='Button__Container']{
      border-color: black;
    color: black;
}
div[class*="CommunityRanking"],
label[for="request_issue_type_select"],
ol li a[href^="/hc"],
div[class*='RichText'] a,
div[class^='LyricsEditExplainer'],
div[class^='LyricsEditExplainer'] a[class^='StyledLink']{
    color: white !important;
}
div[class*="tooltip"],
 div[class*="full_width_button u-clickable"],
  a[class*="full_width_link"],
 a[class="nesty-input"],
 select[id^="request_issue_type_select"],
  a[class*="mini_card"],
  div[class^='modal_window-content'],
  div[class*='ScrollableTabs__'],
  div[class*="RepeatableInputPair__"],
  div[class^="css-"][class$="-menu"],
  div[class^=" css"][class$="-menu"] div  div[class^=" css"],
  div[class*='alert'],div[class*='user_notification'],
  textarea[class*='TextInput'],
  iq-notification-list div[class='iq_notification_list'] *[class*='iq_notification_list'],
  div[class^='iq_notification-action'], div[class^='iq_notification_list'],
 div[class^='iq_notification-message'], div[class^='iq_notification']
  {
     background-color: var(--back) !important;
    color: white !important;
}
div[class^="dashed_background_message"]{
    background-color: #ff00003d;
}
span[class*='Highlight']{
    background-color: rgba(233, 233, 233, 0.307);
}span[class*='PTO'],
a[class*='ReferentFragment']:hover{
    background-color: rgba(247, 244, 244, 0.6);
}
 [class*="standalone"], 
 div.standalone_inbox,
 .profile_contribution,
 .white_container,
  .statistics_panel,  
  [class*="leaderboard-row"],
  form[class*='conversation'],
  div[class^='Alert'][class*='Container'][role='alert']
  {
    background: var(--back) !important;
    color: white !important;
 }

 .contribution_opportunity{
     background: #000000 !important;
    box-shadow: 0 2px 3px 0 #000000 !important;
 }
span[class^='profile_identity-i'], 
span[class^='header-action-label'], 
button [class*='PageHeader'] span[class^='TextLabel'],
[class*='PageHeaderMenu__Container'] span[class^='TextLabel'],
span[class^='SongHeader'],
span[class^='HeaderCredit'],
 a[class*="StyledLink"],
a.referent-annotatable_title,
span[class*='UnreviewedAnnotation__ExplainerToggle'],
div[class^='About__Container'] h2,
div[class^='About__Container'] p,
div[class^='QuestionFormControl'] button[class^='Button__Container'] span,
a[class^='MetadataQuestionTemplate'] span,
div[class^='PrimaryAlbum__Artists'] ol[class^='AlbumTracklist__Container'] li div,
div[class^='PrimaryAlbum__Artists'] ol[class^='AlbumTracklist__Container'] li a,
div[class^='PrimaryAlbum__Artists'] a[class^='StyledLink'],
div[class^='SongInfo__Credit'] div[class^='SongInfo__Label'],
div[class^='SongInfo__Credit'] span[class^='PortalTooltip'] a,
div[class^='SongHeader'] span[class^='PortalTooltip'] span[class^='PortalTooltip'] a[class^='StyledLink'],
div[class^='MetadataStats'] span,
li[class^='search-choice'] span
{
color: black !important;
}
 *[class*='SongBioPreview'] a{
    color: white !important;
 }
span[class="profile_tabs-tab-count"]{
    color: #ff1464 !important;
}
[class^="EditorialPlacement__"]:hover h2,[class^="EditorialPlacement__"]:hover h3,
[class^="EditorialPlacement__"]:hover h1,[class^="EditorialPlacement__"]:hover h4{
    text-shadow: none !important;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255,255, 255)) !important;
}
div#featured-stories[class*='HomeContent'] div[class^='TopContent'][class*='Hero'] div[class^='EditorialPlacement'][class*='Header'] div[class^='EditorialPlacement']::after{
  content: "";
  border-bottom: 0.15rem solid #fff !important;
  width: 100%;
}
div#featured-stories[class*='HomeContent'] div[class^='TopContent'][class*='Placement']::before{
  content: "";
  border-right: 0.15rem solid #fff !important;
  height: 100%;
}div#featured-stories[class*='HomeContent'] div[class^='TopContent'][class*='Placement']:last-child::before{
  content: "";
  border-right: 0rem solid #fff !important;
  height: 0%;
}
div[class*='Latest'] * div[class^='EditorialPlacement__Label']::after{
  content: "";
  border-bottom: 0.15rem solid #fff !important;
}

textarea:disabled{
background-color: rgb(255, 255, 255) !important;
color: rgb(0, 0, 0) !important;
}
